body {
	background-color: #4286f4;
}


h1 {
	font-size: 40px;
	font-style: italic;
	font-weight: bold;
	color: #FFF;
	display: inline;
	text-align: center;
	margin-left: 25%;

}

.jukebox {
	display: block;
	align-items: center;
}
